.footer {
    background-color: #0F0F10;
    color: #E1E0DC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    position: fixed;
    font-size: 18px;
    bottom: -3px;
    width: 100%;
    z-index: 999;
    height: 80px;
}

.footer p {
    margin: 0;
    line-height: 80px;
}

.footer p a {
    color: #E1E0DC;
    font-size: 25px;
    margin-left: 15px;
    line-height: 80px;
}

.footer p a:hover {
    color: #A71D1D;
}

@media (max-width: 565px) {
    .footer {
        font-size: 12px;
    }

    .footer p a {
        font-size: 15px;
        margin-left: 10px;
    }
}

@media (max-width: 400px) {
    .footer {
        display: block;
        text-align: center;
    }

    .footer div {
        display: none;
    }

    .footer p a {
        font-size: 25px;
        margin-left: 25px;
    }
}

@media (max-width: 300px) {
    .footer p a {
        margin-left: 15px;
    }
}