body {
    font-family: 'Montserrat', sans-serif;
    background: #E1E0DC;
}

a {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

a:hover {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

#navbar {
    background-color: #0F0F10;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 0 150px;*/
    padding: 0 8%;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

#navbar .desktop-nav {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.title-deskt {
    display: block;
    color: #E1E0DC;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    margin: 0;
}

.title-mobile {
    display: none;
    color: #E1E0DC;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    margin: 0;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.desktop-nav .nav-links a {
    color: #E1E0DC;
}

.desktop-nav a {
    color: black;
}

.mobile-nav {
    display: none;
}

.hide {
    display: none;
}

@media screen and (max-width: 991px) {
  .desktop-nav {
      display: none !important;
  }

  .mobile-nav {
      display: flex;
  }

  .nav-icon {
      cursor: pointer;
      font-size: 1.5rem;
      color: #E1E0DC;
  }

  .mobile-nav ul a {
      color: red;
  }

  .show {
      position: absolute;
      top: 80px;
      right: 0;
      padding: 0 8%;
      width: 100%;
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
  }

  .mob-menu {
      display: block;
      background-color: #0F0F10;
      list-style: none;
      padding: 0;
      width: 100%;
      transition: all 1s ease-in-out;
  }

  .mob-ul {
      padding:0;
  }

  .mob-menu li {
      display: block;
      width: 100%;
      padding: 10px 0;
      margin: 0;
      list-style: none;
      color: #E1E0DC;
      font-size: 1.5rem;
      font-weight: 600;
      text-decoration: none;
  }

  .mob-menu li a {
      display: block;
      width: 100%;
      padding: 10px 0;
      margin: 0;
      list-style: none;
      color: #E1E0DC;
      font-size: 1.5rem;
      font-weight: 600;
      text-decoration: none;
  }

}

@media (max-width: 610px) {
    .title-deskt {
        display: none;
    }

    .title-mobile {
        display: block;
    }
}

@media (max-width: 450px) {
    .show {
        padding: 0;
    }
    .mob-menu li {
        padding: 0;
    }
    .mob-menu li a {
        font-size: 1rem;
    }
}

#navbar-deskt>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 30px;
}

#navbar-deskt a,
#navbar-deskt a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
    text-transform: uppercase;
}

#navbar-deskt>ul>li>a:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -6px;
    left: 0;
    width: 0;
    background-color: white;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

#navbar-deskt a:hover:before,
#navbar-deskt li:hover>a:before,
#navbar-deskt .active:before {
    visibility: visible;
    width: 80%;
}