.skills-container {
    padding: 0 8%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.skills-container .row {
    width: 100%;
}

#skill:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
}

.skill-title {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
}

.line {
  width: 4%;
  height: 5px;
  background-color: #A71D1D;
  margin: 0 auto;
}

.description {
    list-style: none;
}

.icon {
    font-size: 2rem;
}

@media (max-width: 950px) {
    #skill h2 {
        font-size: 20px;
    }

    #skill h3 {
        font-size: 20px;
    }

    #skill img {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 767px) {
    .line {
        width: 10%;
        transition: all 1s ease-in-out;
    }

    #skill h2 {
        font-size: 2rem;
    }

    #skill h3 {
        font-size: 1.5rem;
    }

    #skill img {
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 450px) {
    .skills-container {
        padding: 0;
        transition: all 1s ease-in-out;
    }

    .skill {
        padding: 0;
        transition: all 1s ease-in-out;
    }

    .line {
        width: 15%;
        transition: all 1s ease-in-out;
    }
}